$main:#46529d;
$lightgrey:#fafafa;
$bluesky:#2eb9ee;
$grey:#DCDCDC;
$darkgrey:#D7D7DA;
$darkblue:#25265E;
$green:#1FDEC2;

@font-face {
  font-family: 'Font Awesome';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/fa-regular-400.eot');
  src: url('../../assets/fonts/fa-regular-400.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/fa-regular-400.woff2') format('woff2'),
  url('../../assets/fonts/fa-regular-400.woff') format('woff'),
  url('../../assets/fonts/fa-regular-400.ttf') format('truetype'),
  url('../../assets/fonts/fa-regular-400.svg#fontawesome') format('svg');
}
@font-face {
  font-family: 'Font Awesome Bold';
  font-style: normal;
  font-weight: 900;
  src: url('../../assets/fonts/fa-solid-900.eot');
  src: url('../../assets/fonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/fa-solid-900.woff2') format('woff2'),
  url('../../assets/fonts/fa-solid-900.woff') format('woff'),
  url('../../assets/fonts/fa-solid-900.ttf') format('truetype'),
  url('../../assets/fonts/fa-solid-900.svg#fontawesome') format('svg');
}

$width-desktop: 1170px;
$break-tab: $width-desktop;
$dim-tab: 769px;
$break-mob: $dim-tab;
$dim-mob: 320px;